/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
#app {
	background-color: #555;
}

.onyx-toolbar {
	height: 64px;
}
