/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
body {
	background-color: black;
}

#app {
	opacity: 0;
}

.onyx-toolbar {
	height: 64px;
	background-color: black;
	border: 0;
}
